<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Welcome - Locality</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap" rel="stylesheet" />
  <style type="text/css">
    html,
    body {
      height: 100%;
      width: 100%;
      margin: 0;
      font-family: 'Open Sans', sans-serif;
    }

    h1 {
      font-family: 'Montserrat', sans-serif;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f4f4f4;
    }

    .wrapper {
      width: 100%;
      height: 100%;
      max-width: 600px;
      background-color: #ffffff;
    }

    .logo-header-wrapper {
      width: 600px;
      height: 150px;
    }

    .logo-header {
      width: 350px;
    }

    .wrapper-content {
      padding: 0 50px;
    }

    .content-code-order {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .button {
      height: 32px;
      background-color: #02bc6d;
      color: #ffffff;
      border-radius: 25px;
      border: none;
      padding: 0 16px;
    }

    .qrcode-content {
      margin-top: 40px;
      display: flex;
      justify-content: center;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <div class="logo-header-wrapper">
      <img src="https://i.imgur.com/eJ6YPb3.jpg" alt="logo da locality" class="logo-header" width="600px"
        height="150px" />
    </div>
    <div class="wrapper-content">
      <h1>Olá,</h1>
      <p>
        Seu pedido foi cadastrado em nossa transportadora, você poderá ver
        onde o seu pedido se encontra através da nossa plataforma.
      </p>
      <div class="content-code-order">
        <p>
          Código do seu pedido
        </p>
        <h1 style="margin: 0;">{{ id }}</h1>
      </div>
      <div style="margin-top: 30px;">
        <p>
          Para saber onde se encontra seu pedido, basta copiar o
          <strong>código do seu pedido</strong> e acessar nossa plataforma, ou
          clique no botão abaixo.
        </p>
      </div>
      <div style="display: flex; justify-content: center; margin-top: 30px;">
        <a href="http://www.google.com.br/{{ id }}" style="color: currentColor; text-decoration: none">
          <button class="button">Acessar plataforma</button>
        </a>
      </div>
      <p style="margin-top: 30px;">
        Ou acesse pelo seu smartphone utilizando o QRCode abaixo.
      </p>
      <div class="qrcode-content">
        <img src="{{ qrcode }}" alt="QRCode" style="width: 100px;" />
      </div>
    </div>
  </div>
</body>

</html>